@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Questrial&family=Roboto:ital@1&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Questrial", sans-serif;
  background: #b4509399;
  background-image: url("../img/bg.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}
h1 {
  color: rgb(43, 226, 134);
  text-transform: capitalize;
}
.screen {
  cursor: pointer;
  width: 60%;
  background-color: darkslategray !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.controls {
  background: #f0b2b2;
  color: #fff;
  width: 60%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.controls .btn {
  border: 0;
  background: transparent;
  cursor: pointer;
}
.controls .fa-play {
  color: #28a745;
}
.controls .fa-stop {
  color: #dc3545;
}
.controls .fa-pause {
  color: #fff;
}
.controls .timestamp {
  color: #0f0101;
  font-weight: bold;
  margin-left: 10px;
}
.btn:focus {
  outline: 0;
}

@media (max-width: 800px) {
  .screen,
  .controls {
    width: 90%;
  }
}
