@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --color-1: #c11281fb;
  --color-2: #0a6a6a;
  --color-3: #f1b211;
  --color-4: #e83611;
  --color-5: #f9002f;
}
* {
  box-sizing: border-box;
}

body {
  background-image: url("./img/colorful-equalizer-wave-background.avif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  margin: 0;
}

h1 {
  font-family: "Exo", sans-serif;
  font-size: 50px;
  font-weight: 900;
  text-transform: capitalize;
  background: linear-gradient(
    219deg,
    var(--color-1) 19%,
    transparent 19%,
    transparent 20%,
    var(--color-2) 20%,
    var(--color-2) 39%,
    transparent 39%,
    transparent 40%,
    var(--color-3) 40%,
    var(--color-3) 59%,
    transparent 59%,
    transparent 60%,
    var(--color-4) 60%,
    var(--color-4) 79%,
    transparent 79%,
    transparent 80%,
    var(--color-5) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.music-container {
  background-color: #d1c7c786;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(113, 83, 245, 0.71);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
}
.img-container {
  position: relative;
  width: 110px;
}
.img-container::after {
  content: "";
  background-color: #f9f9f9e9;
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}
.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 7s linear infinite;
  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

/* //animations */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.action-btn {
  background-color: #2d2c2cab;
  border: 0;
  color: #dfdbdf;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}
.action-btn.action-btn-big {
  color: #cdc2d0;
  font-size: 30px;
}
.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: #ffffff4d;
  border-radius: 15px 15px 0 0;
  position: absolute;

  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}
.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}
.music-info h4 {
  margin: 0;
}
.progress-container {
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}
.progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transform: width 0.1s linear;
}
